@property --progress {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

.Draggable {
    position: absolute;
    width: fit-content;
    transition: transform 250ms ease;

    box-shadow: var(--box-shadow);
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1)) rotate(var(--rotate, 0deg));

    transition: box-shadow 300ms ease;

    touch-action: none;
    cursor: grab;

    background-image: url("/volleyball.svg");
    background-position: center;
    background-size: 130%;
    min-width: 8rem;
    min-height: 8rem;
    border-radius: 50%;

    &.dragging {
        z-index: 9999;
        transition: none;
        cursor: grabbing;
    }
}