.Base {
    > :first-child {
        border: 1px solid rgba(245, 245, 245, 0.567);
        border-radius: 5px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.1);
    }

    > :first-child:focus-visible {
        outline: none;
        border-color: rgba(86, 196, 255, 0.479);
    }

    button {
        background-color: rgba(160, 160, 160, 0.429);
        border-radius: 9999px;
        cursor: pointer;
    }

    button:hover {
        background-color: rgba(123, 198, 255, 0.57);
    }

    button:active {
        background-color: rgba(123, 198, 255, 0.57);
        border: 2px solid rgba(25, 25, 25, 0.393);
    }

    button:active >* {
        transform: translate(1px, 1px);
    }

    button:first-of-type {
        background-color: rgba(255, 95, 95, 0.6);
    }

    button:first-of-type:hover {
        background-color: rgba(255, 153, 153, 0.6);
    }

    button:last-of-type {
        background-color: rgba(123, 198, 255, 0.792);
    }

    button:last-of-type:hover {
        background-color: rgba(145, 207, 255, 0.845);
    }

    button {
        font-size: large;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 1.5rem;
    }

    height: 14rem;
    max-height: 14rem;
}

.icon {
    width: 1rem;
    height: 1rem;
}