.stickyNote {
  background-color: #ffa723;
  background-image: url('/paper.jpg');
  background-blend-mode: multiply;

  padding: 4px;
  border-radius: 3px;
  z-index: -1;

  display: flex;
  flex-direction: column-reverse;
}

.textarea {
  font-size: large;
  resize: both;
  min-width: 7em;
  min-height: 3em;
  max-width: 30vw;
  max-height: 30vw;
}

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .textarea {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
}

.options {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: space-between;
}

.options button {
  cursor: pointer;
  border: none;
  padding: 4px;
  border-radius: 2px;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  display: flex;
}

.inactiveButton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(119, 119, 119, 0.5);
}

.inactiveButton:active {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
  background-color: rgba(119, 119, 119, 0.5);
}

.activeButton {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
  background-color: rgba(119, 119, 119, 0.5);
}

.activeButton:hover {
  box-shadow: inset 0 0 4px rgb(0, 0, 0);
  background-color: rgba(89, 89, 89, 0.559);
}

.activeButton:active {
  box-shadow: inset 0 0 8px rgb(0, 0, 0);
  background-color: rgba(66, 66, 66, 0.689);
}

.icon {
  height: 1em;
  width: 1em;
}